body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
}

/* الصورة الرئيسية */

.room{
position:relative;
width:100vw;
height:100vh;
background-image:url("/Saad-Waleed/room-2f.png");
background-size:cover;
background-position:center;
}

/* العنوان */

h1{
position:absolute;
top:20px;
left:50%;
transform:translateX(-50%);
color:white;
}

/* timer */

#timer{
position:absolute;
font-size:70px;
top:30px;
left:30px;
background-color:white;
border-radius:15px;
margin:10px;
padding:6px;
}


/* ---------- secret spots ---------- */

#secretSpot1{
position:absolute;
top:35%;
left:36%;
width:10%;
height:15%;
background:red;
opacity:0.3;
cursor:pointer;
border:none;
}

#secretSpot2{
position:absolute;
top:36%;
left:70%;
width:6%;
height:10%;
background:red;
opacity:0.3;
cursor:pointer;
}

#secretSpot3{
position:absolute;
top:2%;
left:60%;
width:20%;
height:10%;
background:red;
opacity:0.3;
cursor:pointer;
}


/* ---------- riddles ---------- */

.riddle-container1{
position:absolute;
top:60%;
left:35%;
background-color:rgb(207,207,207);
padding:20px;
border-radius:12px;
width:300px;
display:none;
}

.riddle-container2{
position:absolute;
top:60%;
left:60%;
background-color:rgba(255,255,255,0.8);
padding:20px;
border-radius:12px;
width:300px;
display:none;
}

.riddle-container3{
position:absolute;
top:20%;
left:50%;
background-color:white;
padding:20px;
border-radius:12px;
width:300px;
display:none;
}